*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
.bb{
    background-color: rgb(46, 105, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 50px;
    
    
}
 .container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 50px  rgba(0, 0, 0, 1);
 }

  .left{
    position: relative;
    background-color: #041837;
    padding: 40px;

 }
.right{
    position: relative;
    background: #041837;
    padding: 40px;

 }
 .prof{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid white ;
    padding-bottom: 20px ;
 }
  .imgbox{
       position: relative;
       width: 200px;
       height: 200px;
       overflow: hidden;
       border-radius: 90px;

 }
 .mama{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
 }
.h{
    color:#fff;
    font-size: 10.5px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
    line-height: 1px;
    font-style: italic;

}
.sp{
    color: #fff;
    font-style: italic;
} 

.pesonal{
    padding-top: 40px;
    margin-bottom:1px;
    margin-bottom: 20px;
}

.title{
    text-transform: uppercase;
    font-weight: 600px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300px;
    font-style: italic;



}
.i{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
    font-style: italic;
}

.pacent{
    position: relative;
    height: 6px;
    width: 100%;
    background:rgba(0, 106, 255, 0.343);
    display: block;
    margin-top: 5px;
}
.edu_li{
    margin-bottom: 15px;

}
.a5{
    color: #03a9f4;
    font-weight: 500;
    font-style: italic;

}
.a4{
    font-weight: 500;
    color: #fff;
    font-style: italic;
}
.d{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #011d2a;
}
.text{
    font-weight: 500;
    color: #fff;
}
.lang_title{
    font-weight: 600;
    color: #fff;

}
.education{
    font-weight: 600;
    color: #fff;

}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: center;

}
.right4{
    text-transform: lowercase;
    font-weight: 300px;
    color: rgba(0, 0, 0, 0.222);
    margin-left: 10px;
    font-style: italic;
}
.depend{
        margin-left:12px ;
        font-style: italic;
}
.depe{
    text-transform: uppercase;
    font-weight: 200px;
    color:rgb(0, 0, 0, 0.222);
    margin-left: 10px;
    font-style: italic;

}
.bom{
     margin-left: 500px;
     border-radius: 70px;
}
.nav{
     /*width:  ;
    background-color: black;
    float: left; */
    
    list-style-type: none;
margin: 0;
padding: 0;
 overflow: hidden;
background-color: #333;
}
.nl{
    float: left;
}
.na{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
